<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Planets - Using Angular 2 Material</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Extra</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
<!-- planet tabs-->
      <ul class="tabs tabs-transparent">
        <li class="tab" *ngFor="let planet of planetsList">
          <a href="#{{planet.name}}" [class.active]="planet.name == selectedPlanet.name" (click)="showPlanetInfo(planet)">{{planet.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>-->




 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img [src]="selectedPlanet.image" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <!--This is a square image. Add the "circle" class to it to make it appear circular.-->
                You selected the planet <b>{{selectedPlanet.name}}.</b>
                <i>{{selectedPlanet.description}}</i>
              </span>
            </div>
          </div>
        </div>
      </div>

      

<md-grid-list cols="4" rowHeight="100px" >
      <md-grid-tile *ngFor="let planet of planetsList">
        <div class="chip" (click)="showPlanetInfo(planet)">
          <img [src]="planet.image" alt="planet info">
            {{planet.name}}
      </div>
      </md-grid-tile>
</md-grid-list>

<br> 

<div class="row">
  <ul class="collection">
    <li class="collection-item" *ngFor="let planet of planetsList">{{planet.name}}</li>
  </ul> 
</div>

    

<br>
