<md-toolbar>
  Our Planets - Using Angular 2 Material  
</md-toolbar>


 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img [src]="selectedPlanet.image" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <!--This is a square image. Add the "circle" class to it to make it appear circular.-->
                You selected the planet <b>{{selectedPlanet.name}}.</b>
                <i>{{selectedPlanet.description}}</i>
              </span>
            </div>
          </div>
        </div>
      </div>

      
 
<md-grid-list cols="4" rowHeight="100px" >
      <md-grid-tile *ngFor="let planet of planetsList" >
          <h5 md-line>{{planet.name}}</h5>
          <button md-icon-button (click)="showPlanetInfo(planet)">
            <md-icon>info</md-icon>
          </button>         
      </md-grid-tile>
</md-grid-list>
 
<br>
